---
import { Image } from 'astro:assets';

const { classes } = Astro.props

// Mock data for teams
// In a real application, this data would likely come from an API or database
const teams = [
  { name: 'Modus', logo: '/src/assets/teams/modus.png' },
  { name: 'Hechos', logo: '/src/assets/teams/hechos.png' }
];

---

<div class={`${classes} next-match`}>
  <div class="title">
    <h2>Próximo Partido</h2>
  </div>
  <div class="match">
    <div class="team1">
      <Image
        src={teams[0].logo}
        alt={`${teams[0].name} Logo`}
        width={100}
        height={100}
        loading="lazy"
      />
    </div>
    <div class="vs">vs</div>
    <div class="team2">
      <Image
        src={teams[1].logo}
        alt={`${teams[0].name} Logo`}
        width={100}
        height={100}
        loading="lazy"
      />
    </div>
  </div>
</div>

<style>
  .next-match {
    background-color: var(--white);
    color: var(--primary-color);
    font-size: 1rem;
  }

  .next-match > * {
    padding-inline: 1rem;
		padding: 1rem 1.5rem;
  }

  .match {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .vs {
    font-size: 1.5rem;
    font-weight: bold;
  }

  @media (min-width: 480px) {
    .next-match {
      font-size: .8rem;
    }
  }
</style>