---
const { classes, title, emoji, name, stat } = Astro.props;
---
<div class={`${classes} player-stat-card`}>
  <div class="title">{title}</div>
  <div class="body">
    <span class="emoji">{emoji}</span>
    <span class="name">{name}</span>
  </div>
  <div class="value">{stat}</div>
</div>

<style>
  .player-stat-card {
    background-color: var(--primary-light-color);
    color: var(--white);
    font-size: 1rem;
  }
  
  .player-stat-card > * {
    padding-inline: 1rem;
		padding: 1rem 1.5rem;
  }
  
  .title {
    background-color: var(--white);
    color: var(--primary-color);
    font-weight: bold;
    border-radius: 1rem 1rem 0 0;
    text-align: center;
  }

  .body {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    font-size: 1.5rem;
  }

  .body > * {
    display: inline-block;
    text-align: center;
  }

  .emoji {
    font-size: 2rem;
  }

  .value {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    margin-top: .5rem;
  }

  @media (min-width: 830px) {
    .player-stat-card {
      font-size: .8rem;
    }

    .title {
      font-size: 1rem;
      border-radius: 1.5rem 1.5rem 0 0;
    }
  }
</style>
