---
const { classes, name } = Astro.props;

// Mock data for standings
// In a real application, this data would be fetched from an API or database
const standings = [
  { position: 1, team: 'Modus', matchesPlayed: 5, goalDifference: 4, points: 12 },
  { position: 2, team: 'Hechos', matchesPlayed: 5, goalDifference: 3, points: 9 },
];
---

<div class={`${classes} standings`}>
  <div class="title">
    <h2>{name}</h2>
  </div>
  <div class="standings-list">
    <table>
      <thead>
        <tr>
          <th>Pos.</th>
          <th class="fix-width mobile-hidden">PJ</td>
          <th class="fix-width mobile-hidden">DG</th>
          <th class="fix-width">Pts</th>
        </tr>
      </thead>
      <tbody>
        {
          standings.map((standing) => (
            <tr>
              <td>
                <span class="position">{standing.position}</span>
                {standing.team}
              </td>
              <td class="fix-width mobile-hidden">{standing.matchesPlayed}</td>
              <td class="fix-width mobile-hidden">{standing.goalDifference}</td>
              <td class="fix-width">{standing.points}</td>
            </tr>
          ))
        }
      </tbody>
    </table>
  </div>
</div>

<style>
  .standings {
    background-color: var(--white);
    color: var(--black);
  }

  .title {
    background-color: var(--primary-light-color);
    color: var(--white);
    padding: 0.25rem 0.5rem;
    border-radius: 1rem 1rem 0 0;
  }

  .standings-list {
    padding-inline: 0.5rem;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  thead {
    color: var(--black-light);
    border-bottom: 1px solid var(--black-light);
  }

  tr {
    display: flex;
    justify-content: space-between;
    padding-block: 0.5rem;
  }

  td:first-child,
  th:first-child {
    flex: 1;
    text-align: left;
  }

  td:last-child {
    color: var(--secondary-color);
    font-weight: bold;
  }

  .position {
    font-weight: bold;
    display: inline-block;
    width: .8rem;
  }

  .fix-width {
    width: 2.25rem;
    text-align: center;
  }

  .mobile-hidden {
    display: none;
  }

  @media (min-width: 480px) {
    .title {
      padding: 0.5rem 1rem;
      border-radius: 1.5rem 1.5rem 0 0;
    }

    .mobile-hidden {
      display: table-cell;
    }
  }
</style>
