---
import { SortAndMapGroupStandings } from '../services/standings.js';

const { name, groupID } = Astro.props;

const standings = await SortAndMapGroupStandings(groupID);
---

<div class="standings">
  <div class="title">
    <h2>{name}</h2>
  </div>
  <div class="standings-list">
    <table>
      <thead>
        <tr>
          <th>Posición</th>
          <th class="fix-width mobile-hidden">PJ</td>
          <th class="fix-width mobile-hidden">DG</th>
          <th class="fix-width">Pts</th>
        </tr>
      </thead>
      <tbody>
        {
          standings.map((standing) => (
            <tr>
              <td>
                <span class="position">{standing.position}</span>
                {standing.team}
              </td>
              <td class="fix-width mobile-hidden">{standing.matchesPlayed}</td>
              <td class="fix-width mobile-hidden">{standing.goalDifference}</td>
              <td class="fix-width">{standing.points}</td>
            </tr>
          ))
        }
      </tbody>
    </table>
  </div>
</div>

<style>
  .standings {
    background-color: var(--white);
    color: var(--black);
  }

  .title {
    background-color: var(--primary-light-color);
    color: var(--white);
    padding: 0.25rem 0.5rem;
    border-radius: 1rem 1rem 0 0;
  }

  .standings-list {
    padding-inline: 0.5rem;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  thead {
    color: var(--black-light);
    border-bottom: 1px solid var(--black-light);
  }

  tr {
    display: flex;
    justify-content: space-between;
    padding-block: 0.5rem;
  }

  td:first-child,
  th:first-child {
    flex: 1;
    text-align: left;
  }

  td:last-child {
    color: var(--secondary-color);
    font-weight: bold;
  }

  .position {
    font-weight: bold;
    display: inline-block;
    width: .8rem;
    /* border-inline-end: 1px solid var(--black-light); */
    margin-inline-end: .1rem;
  }

  .fix-width {
    width: 2.25rem;
    text-align: center;
  }

  .mobile-hidden {
    display: none;
  }

  @media (min-width: 570px) {
    .mobile-hidden {
      display: table-cell;
    }
  }
</style>
